@use "styles/util/mixins" as u;
@use '../find-work.shared' as *;

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h3 { margin: 0; font-size: 1.25rem; }
}

.save-btn-overlay {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $color-purple;

    mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
    }
}
