<div class="note-detail-dialog">
  <h2 mat-dialog-title>Note Details</h2>

  <mat-dialog-content>

    <p><strong>Project:</strong> {{ data.projectName }}</p>
    <p><strong>Subtask:</strong> {{ data.subtaskName }}</p>
    <p><strong>Created:</strong> {{ data.createdAt | date:'medium' }}</p>
    <p><strong>Status:</strong>
        <span [ngClass]="'status-' + getStatus(data.notes[0]).toLowerCase()">
          {{ getStatus(data.notes[0]) }}
        </span>
      </p>

    <p><strong>Messages:</strong></p>
    <div class="chat-box-inside-dialog">
      <div *ngFor="let note of data.notes" class="chat-message">
        <div class="chat-bubble">
          <div class="note-text">{{ note.createdAt | date:'short' }} : {{ note.noteText }}</div>
        </div>
      </div>
    </div>

    <p *ngIf="data.notes[0].rejectionReason"><strong>Rejection Reason:</strong> {{ data.notes[0].rejectionReason }}</p>

  </mat-dialog-content>

  <mat-dialog-actions class="dialog-action-buttons" align="end">
    <button mat-raised-button class="submit-btn delete-btn" (click)="startApproval(data.notes[0])">Approve</button>
    <button mat-raised-button class="submit-btn delete-btn" (click)="rejectNote(data.notes[0])">Reject</button>
    <button mat-raised-button class="submit-btn delete-btn" *ngIf="data.notes[0].approved || data.notes[0].rejected" (click)="archiveNote(data.notes[0])">Archive</button>
    <button mat-raised-button class="submit-btn delete-btn" (click)="openDocumentsDialog(data)">View Image</button>
    <button mat-raised-button class="submit-btn delete-btn" (click)="Close()">Close</button>
  </mat-dialog-actions>
</div>
