
<div *ngIf="isLoading">
  <app-loader></app-loader>

</div>
<div class="row job-quote-container">
  <app-subscription-warning [subscriptionActive]="subscriptionActive" [isLoading]="isLoading"></app-subscription-warning>
  <div class="col-md-4 form-col">
    <mat-card class="project-card">
      <mat-card-header>
        <mat-card-title>YOUR JOBS</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <div *ngIf="jobList.length > 0" class="job-list-container">
          <div class="job-list-scroll">
            <table>
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Job Type</th>
                  <th>Job Status</th>
                  <th>Start Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let job of jobList" class="data-row"
                    [ngClass]="{
                      'published': job.status === 'PUBLISHED',
                      'discarded': job.status === 'DISCARDED',
                      'draft': job.status === 'NEW'
                    }">
                  <td>{{ job.projectName }}</td>
                  <td>{{ job.jobType }}</td>
                  <td>{{ job.status }}</td>
                  <td>{{ job.desiredStartDate | date: 'yyyy-MM-dd' }}</td>
                  <td>
                    <button class="View-btn views-btn" (click)="loadJob(job.id)" mat-raised-button>View</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="jobList.length == 0" class="no-more-jobs">
          No more jobs to display.
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="project-card-bids mt-3">
      <mat-card-header>
        <mat-card-title>ACTIVE BIDS</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="activeBidsDataSource" class="job-list-container">
          <div class="job-list-scroll">
            <table>
              <thead>
                <tr>
                  <th>Quote #</th>
                  <th>Created By</th>
                  <th>Date</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let quote of activeBidsDataSource.data" class="data-row">
                  <td>{{ quote.number || 'N/A' }}</td>
                  <td>{{ quote.createdBy || 'Unknown' }}</td>
                  <td>{{ quote.createdDate | date: 'yyyy-MM-dd' }}</td>
                  <td>${{ quote.total.toFixed(2) }}</td>
                  <td>
                    <button class="View-btn views-btn" (click)="openQuote(quote.id)" mat-raised-button>
                      View
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!activeBidsDataSource || activeBidsDataSource.data.length === 0" class="no-more-jobs">
          No active bids to display.
        </div>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-md-8 d-flex justify-content-center">
    <mat-card class="job-quote-card">
      <mat-card-header>
        <mat-card-title>Create New Job</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-divider class="mat-primary"></mat-divider>

        <div class="house-options d-flex justify-content-center">
          <button mat-raised-button (click)="populateHouse('wood')">Basic Wood House</button>
          <button mat-raised-button (click)="populateHouse('brick')">Basic Brick House</button>
        </div>
        <br>
        <form [formGroup]="jobCardForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Project Name</mat-label>
              <input matInput formControlName="projectName" placeholder=" " />
              <mat-error *ngIf="jobCardForm.get('projectName')?.hasError('required')">
                Mandatory Field: Input Required.
              </mat-error>
            </mat-form-field>
<!-- Replace your existing address mat-form-field with this -->
<mat-form-field appearance="fill">
  <mat-label>Address</mat-label>

  <input
    #addressInput
    matInput
    [formControl]="addressControl"
    [matAutocomplete]="auto"
    placeholder="Enter an address"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAddressSelected($event)">
    <mat-option *ngFor="let option of options" [value]="option">
      {{ option.description }}
    </mat-option>
  </mat-autocomplete>
    <mat-error *ngIf="addressControl.hasError('required') && addressControl.touched">
    Mandatory Field: Address is required
  </mat-error>
</mat-form-field>
          </div>
          <div class="panel-wrapper">
          <mat-accordion multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>Client Details</mat-panel-title>
                <mat-panel-description>
                  Click to expand/collapse
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- CLIENT DETAILS FORM FIELDS -->
              <div class="form-row">
                <mat-form-field appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName" placeholder=" " />
                  <mat-error *ngIf="jobCardForm.get('firstName')?.hasError('required')">
                     Mandatory Field: First name is required.
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" placeholder=" " />
                  <mat-error *ngIf="jobCardForm.get('lastName')?.hasError('required')">
                     Mandatory Field: Last name is required.
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder=" " />
                  <mat-error *ngIf="jobCardForm.get('email')?.hasError('email')">
                     Mandatory Field: Email address is required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-row">
                <mat-form-field appearance="fill">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phone" placeholder=" " />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Company Name</mat-label>
                  <input matInput formControlName="company" placeholder=" " />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Position/Title</mat-label>
                  <input matInput formControlName="position" placeholder=" " />
                </mat-form-field>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="panel-wrapper">
          <mat-accordion multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>Job Details</mat-panel-title>
                <mat-panel-description>
                  Click to expand/collapse
                </mat-panel-description>
              </mat-expansion-panel-header>

 <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Job Type</mat-label>
              <mat-select formControlName="jobType">
                <mat-option value='HOUSE'>House</mat-option>
                <mat-option value="COMPLEX">Complex</mat-option>
                <mat-option value="ESTATE">Estate</mat-option>
                <mat-option value="COMMERCIAL">Retail</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Quantity</mat-label>
              <input matInput type="number" formControlName="quantity" placeholder=" " />
              <mat-error *ngIf="jobCardForm.get('quantity')?.hasError('required')">
                Mandatory Field: Input Required.
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Start Date</mat-label>
              <input matInput formControlName="date" [matDatepicker]="picker" readonly>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Wall Structure</mat-label>
              <mat-select formControlName="wallStructure">
                <mat-option value="BRICK">Bricks</mat-option>
                <mat-option value="PRECAST">Precast</mat-option>
                <mat-option value="WOOD">Wood</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Wall Insulation</mat-label>
              <mat-select formControlName="wallInsulation">
                <mat-option value="NONE">None</mat-option>
                <mat-option value="FOAM">Foam</mat-option>
                <mat-option value="LINING">Lining</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Roof Structure</mat-label>
              <mat-select formControlName="roofStructure">
                <mat-option value="SHEET">Sheet Metal</mat-option>
                <mat-option value="TILES">Tiles</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Roof Insulation</mat-label>
              <mat-select formControlName="roofInsulation">
                <mat-option value="FOAM">Foam</mat-option>
                <mat-option value="LINING">Lining</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Foundation</mat-label>
              <mat-select formControlName="foundation">
                <mat-option value="CONCRETE">Concrete</mat-option>
                <mat-option value="RAISED">Raised</mat-option>
                <mat-option value="FLOATING">Floating</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Finishes</mat-label>
              <mat-select formControlName="finishes">
                <mat-option value="WOOD">Wood</mat-option>
                <mat-option value="TRIM">Trim</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Electrical Supply</mat-label>
              <input matInput type="number" formControlName="electricalSupply" placeholder=" " />
              <span matSuffix> KW</span>
              <mat-error *ngIf="jobCardForm.get('electricalSupply')?.hasError('required')">
                Mandatory Field: Input Required.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Stories</mat-label>
              <input matInput type="number" formControlName="stories" placeholder=" " />
              <mat-error *ngIf="jobCardForm.get('stories')?.hasError('required')">
                Mandatory Field: Input Required.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Building Size</mat-label>
              <div style="display: flex; align-items: center;">
                <input matInput type="number" formControlName="buildingSize" placeholder=" " />
                <mat-select [(value)]="selectedUnit" (selectionChange)="onUnitChange($event.value)" style="width: 80px; margin-left: 10px;">
                  <mat-option value="sq ft">sq ft</mat-option>
                  <mat-option value="sq m">sq m</mat-option>
                </mat-select>
              </div>
              <mat-error *ngIf="jobCardForm.get('buildingSize')?.hasError('required')">
                Mandatory Field: Input Required.
              </mat-error>
            </mat-form-field>
          </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
          <div class="form-row">
            <mat-radio-group [(ngModel)]="analysisType" [ngModelOptions]="{standalone: true}">
              <mat-radio-button value="Comprehensive">Full Blueprint Analysis</mat-radio-button>
              <mat-radio-button value="Selected">Selected Blueprint Analysis</mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="analysisType === 'Selected'" class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Select Prompts</mat-label>
              <mat-select [formControl]="selectedPrompts" multiple>
                <mat-option *ngFor="let prompt of availablePrompts$ | async" [value]="prompt.promptKey">
                  {{ prompt.promptName }}
                  <span *ngIf="prompt.description" style="font-size: smaller; color: grey;">
                    - {{ prompt.description }}
                  </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-row button-row">
            <div class="button-group">
              <span class="button-wrapper"
                    [matTooltip]="uploadedFileInfos.length === 0 ? 'Please fill in all required fields and upload blueprints before analyzing.' : ''"
                    [class.disabled-wrapper]="uploadedFileInfos.length === 0">
                <button mat-raised-button type="submit"
                        [disabled]="!subscriptionActive || isAnalyzing || uploadedFileInfos.length === 0"
                        class="submit-btn">
                  <span *ngIf="!isAnalyzing">Analyze</span>
                  <span *ngIf="isAnalyzing">Analyzing...</span>
                </button>
              </span>
                <span class="button-wrapper"
                      [matTooltip]="uploadedFileInfos.length === 0 ? 'Blueprints need to be added before they can be viewed' : ''"
                      [class.disabled-wrapper]="uploadedFileInfos.length === 0">
                  <button mat-raised-button type="button" class="submit-btn" (click)="viewUploadedFiles()" [disabled]="uploadedFileInfos.length === 0">
                    View Uploaded Files
                  </button>
                </span>
              <button mat-raised-button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
            </div>
            <div class="upload-container">
              <div *ngIf="isUploading" class="upload-progress">
                <p>Upload Progress: {{ progress }}%</p>
                <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
              </div>
              <div class="custom-file-upload">
                <div *ngIf="!isUploading && uploadedFileInfos.length > 0" class="upload-complete upload-success-message">
                  <p [matTooltip]="getUploadedFileNames()" matTooltipPosition="above">
                    {{ uploadedFileInfos.length }} file(s) uploaded successfully
                  </p>
                </div>
                <button type="button" (click)="openUploadDialog()" mat-raised-button class="submit-btn">
                  <img src="assets/custom-svg/upload-folder-svgrepo-com.svg" alt="Upload Icon" class="upload-icon"/>
                  Upload Blueprints
                </button>
                <input type="file" #fileInput hidden (change)="onFileSelected($event)" multiple>
                <input type="file" #folderInput hidden (change)="onFileSelected($event)" webkitdirectory>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="showAlert" class="alert-overlay">
  <div class="alert-modal">
    <p>{{ alertMessage }}</p>
    <button mat-raised-button (click)="closeAlert()">OK</button>
  </div>
</div>

