.permission-group {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  mat-checkbox {
    display: inline-block;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

.select-all-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
