<h2 mat-dialog-title>Manage Permissions for {{ teamMemberName }}</h2>
<mat-dialog-content [formGroup]="permissionsForm">
  <div class="select-all-container">
    <mat-checkbox (change)="selectAll($event.checked)">Select All</mat-checkbox>
  </div>
  <div *ngFor="let group of groupedPermissions" class="permission-group">
    <h3>{{ group.group }}</h3>
    <mat-checkbox *ngFor="let permission of group.permissions" [formControlName]="permission.key">
      {{ permission.name }}
    </mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="permissionsForm.pristine || !permissionsForm.valid">Save</button>
</mat-dialog-actions>
