.upload-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.file-input-container {
  margin-bottom: 20px;
}

.mat-progress-bar {
  width: 100%;
  margin-top: 10px;
}
