<div class="cancel-wrapper">
  <mat-card class="cancel-card">
    <mat-card-header>
      <mat-icon class="cancel-icon" color="warn">cancel</mat-icon>
      <mat-card-title>Payment Cancelled</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p class="description">
        Your payment was cancelled or interrupted.<br />
        You can retry anytime from your dashboard.
      </p>

      <button
        mat-button
        class="btn btn-primary"
        type="button"
        (click)="goToDashboard()"
      >
        Return to Login
      </button>
    </mat-card-content>
  </mat-card>
</div>
