<h1 mat-dialog-title>Invite User</h1>
<div mat-dialog-content [formGroup]="invitationForm">
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone Number (Optional)" formControlName="phoneNumber">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="invitationForm.value" [disabled]="!invitationForm.valid">Invite</button>
</div>
