<div>
  <mat-card class="pdf-viewer-card" #pdfViewerCard *ngIf="isVisible">
    <mat-card-header>
      <div class="header-controls">
        <div *ngIf="blueprints.length > 1" class="dropdown-container">
          <select (change)="onPdfSelectionChange($event)">
            <option *ngFor="let blueprint of blueprints" [value]="blueprint.pdfUrl" [selected]="blueprint === selectedBlueprint">
              {{ blueprint.name }}
            </option>
          </select>
        </div>
        <mat-button-toggle-group *ngIf="isBlueprintLoaded" [value]="viewMode" class="view-toggle">
          <mat-button-toggle value="pdf" class="toggle-button" (click)="onViewModeChange('pdf')" matTooltip="Switch to PDF View" matTooltipShowDelay="500"><mat-icon>picture_as_pdf</mat-icon> PDF View</mat-button-toggle>
          <mat-button-toggle value="interactive" class="toggle-button" (click)="onViewModeChange('interactive')" matTooltip="Switch to Interactive View" matTooltipShowDelay="500"><mat-icon>layers</mat-icon> Interactive</mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-icon-button (click)="openPopout()" class="pop-out-icon" matTooltip="Pop out viewer" matTooltipShowDelay="500">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)="openInNewTab()" class="pop-out-icon" matTooltip="Open PDF in new tab" matTooltipShowDelay="500">
          <mat-icon>open_in_browser</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleVisibility()" class="visibility-toggle" matTooltip="{{ isVisible ? 'Hide Viewer' : 'Show Viewer' }}" matTooltipShowDelay="500">
          <mat-icon>{{ isVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </mat-card-header>

    <mat-card-content class="pdf-container" #viewerContainer>

        <ng2-pdfjs-viewer
        *ngIf="viewMode === 'pdf'"
        [pdfSrc]="pdfSrc"
        [viewerId]="'pdfViewer'"
        [showDownload]="true"
        [showPrint]="true"
        [showOpenFile]="false"
        [showSpinner]="true"
        [showFullScreen]="true"
        [theme] = "'dark'"
        [externalWindow]="externalWindow"
        >
      </ng2-pdfjs-viewer>

      <ng2-pdfjs-viewer
      #externalPdfViewer
      [externalWindow]="true"
      [hidden]="true"
      [viewerId]="externalViewerId">
      </ng2-pdfjs-viewer>

      <div *ngIf="viewMode === 'interactive'" class="interactive-container">
        <div *ngIf="isImageLoading" class="loading-spinner"><mat-spinner></mat-spinner></div>
        <div class="panzoom-content" #panzoomContent>
          <img [src]="currentImageUrl" (load)="onImageLoad($event)" *ngIf="currentImageUrl" [hidden]="isImageLoading" alt="Blueprint Page"/>
          <app-blueprint-overlay *ngIf="(overlayState.isOverlayVisible$ | async) && imageDimensions" [imageDimensions]="imageDimensions"></app-blueprint-overlay>
        </div>
      </div>
    </mat-card-content>

    <!-- <mat-card-actions class="pdf-actions">
      <button mat-button (click)="setPage(page - 1)" [disabled]="page <= 1"><mat-icon>keyboard_arrow_left</mat-icon> Previous</button>
      <span>Page {{ page }} / {{ totalPages }}</span>
      <button mat-button (click)="setPage(page + 1)" [disabled]="page >= totalPages">Next <mat-icon>keyboard_arrow_right</mat-icon></button>
    </mat-card-actions> -->
    <div class="resize-handle" (mousedown)="onResizeStart($event)"></div>
  </mat-card>

  <div *ngIf="!isVisible" class="sidebar-toggle" (click)="toggleVisibility()">
    <mat-icon>visibility</mat-icon>
  </div>
</div>
