<div class="notifications-container">
  <h1>All Notifications</h1>
   <div class="pagination-controls">
      <button class="nav-btn" (click)="previousPage()" [disabled]="currentPage === 1">
        <svg width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="nav-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
        <svg width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  <!-- <button *ngIf="authService.isLoggedIn()" (click)="sendTestNotification()">Send Test Notification</button> -->
  <ul *ngIf="paginatedNotifications.length > 0; else noNotifications" class="notification-list">
    <li *ngFor="let notification of paginatedNotifications" class="notification-item" (click)="navigateToJob(notification)">
      <p class="notification-message">
        <strong>{{ notification.projectName }}</strong> - {{ notification.senderFullName }}: {{ notification.message }} <span class="timestamp">{{ notification.timestamp | date:'short' }}</span>
      </p>
    </li>
  </ul>
  <ng-template #noNotifications>
    <div class="no-notifications">
      You have no notifications.
    </div>
  </ng-template>
  <div class="pagination-controls">
     <button class="nav-btn" (click)="previousPage()" [disabled]="currentPage === 1">
       <svg width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 24 24">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
       </svg>
     </button>
     <span>Page {{ currentPage }} of {{ totalPages }}</span>
     <button class="nav-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
       <svg width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 24 24">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
       </svg>
     </button>
   </div>
</div>
