.dialog-btn {
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  .confirm-btn {
    background-color: #FBD008;
    color: white;
  }

  .confirm-btn:hover {
    background-color: #FBD008;
  }