<h2 mat-dialog-title>Edit Client Details</h2>
<mat-dialog-content>
  <form [formGroup]="clientForm" class="edit-client-form">
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        @if (clientForm.get('firstName')?.hasError('required')) {
          <mat-error>
            First Name is required
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        @if (clientForm.get('lastName')?.hasError('required')) {
          <mat-error>
            Last Name is required
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        @if (clientForm.get('email')?.hasError('required')) {
          <mat-error>
            Email is required
          </mat-error>
        }
        @if (clientForm.get('email')?.hasError('email')) {
          <mat-error>
            Invalid email address
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Position</mat-label>
        <input matInput formControlName="position" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="clientForm.invalid || isLoading"
    >
    {{ isLoading ? 'Saving...' : 'Save' }}
  </button>
</mat-dialog-actions>
