<div class="overlay-container">
  @if (blueprintData$ | async; as data) {
    <svg [attr.viewBox]="'0 0 ' + data.metadata.imageWidth + ' ' + data.metadata.imageHeight" class="blueprint-svg-overlay" (mousemove)="onMouseMove($event)">
      <g [attr.transform]="'translate(' + (offsetX$ | async) + ',' + (offsetY$ | async) + ') scale(' + (scale$ | async) + ')'">
        @for (room of data.rooms; track room) {
          <ng-container>
            <polygon [attr.points]="getPolygonPoints(room.polygon)" [attr.fill]="getRoomColor(room.id)" [matTooltip]="room.name" (click)="onElementClick(room)" [class.selected]="(selectedElement$ | async)?.id === room.id" class="room-shape" />
          </ng-container>
        }
        @for (fixture of data.fixtures; track fixture) {
          <ng-container>
            <rect [attr.x]="fixture.boundingBox.x" [attr.y]="fixture.boundingBox.y" [attr.width]="fixture.boundingBox.width" [attr.height]="fixture.boundingBox.height" [matTooltip]="fixture.type" (click)="onElementClick(fixture)" [class.selected]="(selectedElement$ | async)?.id === fixture.id" class="fixture-shape" />
          </ng-container>
        }
      </g>
    </svg>
  }
</div>
