// ==========================================================================
// BORDER RADIUS TOKENS
// ==========================================================================
//

:root {
  --radius-xs: 6px;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;
}
