<div class="full-screen-chat-container">
  <!-- Left Column: Conversation List -->
  <div class="conversations-list">
    <div class="conversation-list-header">
      <button mat-raised-button color="primary" class="new-chat-btn submit-btn publish-btn" (click)="startNewConversation()">+ New Chat</button>
      <button (click)="sortConversations()" class="action-btn" aria-label="Sort conversations">
        <span class="material-icons">{{ sortIcon }}</span>
      </button>
    </div>
    <div class="conversation-items">
      <div *ngFor="let conversation of conversations$ | async"
           class="conversation-item"
           [class.active]="(currentConversation$ | async)?.Id === conversation.Id"
           (click)="selectConversation(conversation.Id)">
        <div class="conversation-title-container">
          <ng-container *ngIf="editingConversationId !== conversation.Id; else editMode">
            <p class="conversation-title">{{ conversation.Title }}</p>
            <span class="conversation-timestamp">{{ conversation.CreatedAt | date:'short' }}</span>
            <mat-icon class="edit-icon" (click)="startEditing(conversation)">edit</mat-icon>
          </ng-container>
          <ng-template #editMode>
            <div class="edit-container">
              <input type="text" [(ngModel)]="editedTitle" (keyup.enter)="saveTitle()" class="edit-input" />
              <div class="edit-actions">
                <button mat-icon-button class="save-button" (click)="saveTitle()">
                  <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button class="cancel-button" (click)="cancelEditing()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </ng-template>
        </div>
        <p class="conversation-excerpt">{{ conversation.ConversationSummary }}</p>
      </div>
    </div>
  </div>

  <!-- Right Column: Chat Area -->
  <div class="chat-area">
    <div class="scroll-wrapper">
      <div class="chat-window-container" #messageContainer>
          <div *ngIf="selectedPrompt" class="selected-prompt-display">
            <h2>{{ selectedPrompt.displayName }}</h2>
            <p>{{ selectedPrompt.description }}</p>
          </div>
          <div class="message-history">
            <div *ngFor="let message of messages$ | async" class="message" [ngClass]="{ 'user-message': message.Role === 'user', 'ai-message': message.Role === 'model' }">
              <mat-icon class="chat-icon">{{ message.Role === 'user' ? 'person' : 'smart_toy' }}</mat-icon>
              <div class="message-content">
                <ng-container [ngSwitch]="message.Role">
                  <markdown *ngSwitchCase="'model'" [data]="getDisplayContent(message.Content, 'model')"></markdown>
                  <pre *ngSwitchCase="'user'" class="user-prompt">{{ getDisplayContent(message.Content, 'user') }}</pre>
                </ng-container>
                <div *ngIf="message.status === 'failed'" class="error-message">
                  <span>Failed to send message to Mason - please try again</span>
                  <button mat-icon-button (click)="retryMessage(message)">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="isLoading$ | async" class="message ai">
              <p>Thinking...</p>
            </div>
          </div>
        </div>
    </div>
    <div class="message-input-container">
      <div *ngIf="isUploading" class="upload-progress">
        <p>Upload Progress: {{ progress }}%</p>
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
      </div>
      <div *ngIf="!isUploading && uploadedFileInfos.length > 0" class="upload-complete">
        <p [matTooltip]="getUploadedFileNames()" matTooltipPosition="above">
          {{ uploadedFileInfos.length }} file(s) uploaded successfully
        </p>
      </div>
      <form (ngSubmit)="sendMessage()">
        <button *ngIf="!selectedPrompt" type="button" mat-icon-button class="more-options-btn" (click)="togglePromptsPopup()" matTooltip="More options">
          <mat-icon>tune</mat-icon>
        </button>
        <input *ngIf="!selectedPrompt" type="text"
               id="chat-input"
               [(ngModel)]="newMessageContent"
               name="newMessageContent"
               placeholder="Type your message..."
               autocomplete="off">
        <button mat-raised-button color="primary" type="submit" class="submit-btn publish-btn send-button" [disabled]="isSendDisabled">Send</button>
        <button mat-raised-button type="button" class="action-btn submit-btn publish-btn" (click)="onAttachFile()">
        <mat-icon>attach_file</mat-icon>
        </button>
        <button mat-raised-button type="button" class="action-btn submit-btn publish-btn" (click)="viewUploadedFiles()">
        <mat-icon>folder</mat-icon>
        </button>
        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" multiple />
        <input type="file" #folderInput style="display: none" (change)="onFileSelected($event)" webkitdirectory multiple />
      </form>
    </div>
    <div class="prompts-popup" *ngIf="isPromptsPopupVisible">
      <div *ngFor="let prompt of prompts$ | async" class="prompt-item" (click)="selectPrompt(prompt)">
        <div class="prompt-title">{{ prompt.displayName }}</div>
        <div class="prompt-description">{{ prompt.description }}</div>
      </div>
    </div>
  </div>
</div>
