/* Variables from Projects/Jobs theme */
$primary-yellow: #fbd008;
$secondary-yellow: #fcd02d;
$darker-yellow: #e6bf00;
$cyan: #61a0af;
$black: #000000;
$dark-gray: #333;
$light-gray: #d9d9d9;
$white: #fff;
$shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

/* Base Styles */
.container {
  width: 80vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 65px);
}

.row {
  width: 98vw;
  display: flex;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 49%;
  background-color: $white;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid $cyan;
}

/* Material Card */
mat-card {
  background-color: $white;
  border-radius: 8px;
  box-shadow: none;
  padding: 1rem;
  height: 60vh;
}
.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; // Adds space above the footer
  padding: 20px;
  background-color: $dark-gray;
  color: $primary-yellow;
  font-size: 14px;
  border-top: 1px solid;

  mat-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    vertical-align: middle;
  }
}
mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: $dark-gray;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

mat-card-content {
  padding-top: 1rem;

  p {
    color: $black;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

/* Divider */
mat-divider {
  background-color: $secondary-yellow;
  height: 2px;
  margin: 1rem 0;
}

/* Chart Container */
.chart-container {
  padding: 1rem 0;
}

/* Buttons */
.submit-btn {
  background: $primary-yellow;
  border-radius: 10px;
  padding: 8px 16px;
  font-weight: 500;
  color: $dark-gray;
  width: 200px;
  margin: 0 0.5rem;

  &:hover {
    background: $darker-yellow;
  }
}

.action-buttons {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .column {
    width: 100%;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .submit-btn {
    width: 100%;
    margin: 0.5rem 0;
  }

  .action-buttons {
    flex-direction: column;
  }

  mat-card {
    height: auto;
  }
}
