<div *ngIf="isLoading" class="loading-container">
  <app-loader aria-label="Loading content"></app-loader>
</div>

<!-- Header -->
<mat-toolbar color="primary" class="header">
  <button *ngIf="shouldShowHeaderButtons()" mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle navigation menu">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/dashboard" class="logo-link">
    <img ngSrc="assets/logo.png" alt="Company Logo" height="50" width="150">
  </a>
  <span class="spacer logged-in-name" routerLink="/profile">{{LoggedInName}}</span>
  <button *ngIf="shouldShowHeaderButtons()" mat-icon-button [matMenuTriggerFor]="notificationMenu" (menuOpened)="onNotificationsOpened()" aria-label="Toggle notifications menu" class="notification-button">
    <mat-icon>notifications</mat-icon>
    <span *ngIf="hasUnreadNotifications$ | async" class="notification-dot"></span>
  </button>
  <button *ngIf="shouldShowHeaderButtons()" mat-icon-button aria-label="Logout" [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="icons8-settings"></mat-icon>
  </button>
</mat-toolbar>

<!-- Company Name Bar -->
<div *ngIf="companyName" class="company-bar">
  <span>{{ companyName }}</span>
</div>

<!-- Side Navigation and Content -->
<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav mode="push" [opened]="isSidenavOpen" class="sidenav" role="navigation" >
    <mat-nav-list>
      <button mat-flat-button class="menu-button custom-button" routerLink="/dashboard" (click)="sidenav.close()">
        <span class="menu-item">HOME</span>
      </button>

      <!-- <button mat-flat-button class="menu-button custom-button" routerLink="/projects" (click)="sidenav.close()">
        <span class="menu-item">PROJECTS</span>
      </button> -->

      <button mat-flat-button class="menu-button custom-button" routerLink="/job-quote" (click)="sidenav.close()">
        <span class="menu-item">JOBS</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/job-assignment" (click)="sidenav.close()">
        <span class="menu-item">JOB ASSIGNMENT</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/calendar" (click)="sidenav.close()">
        <span class="menu-item">CALENDAR</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/quotes" (click)="sidenav.close()">
        <span class="menu-item">MY QUOTE</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/quote" (click)="sidenav.close()">
        <span class="menu-item">NEW QUOTE</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/jobselection" (click)="sidenav.close()">
        <span class="menu-item">AVAILABLE JOBS</span>
      </button>

      <!--TODO: Implement available jobs, request for bid, archive, open bids, and bids -->
      <!--
      <button mat-flat-button class="menu-button custom-button" routerLink="/availablejobs" (click)="sidenav.close()">
        <span class="menu-item">AVAILABLE JOBS</span>
      </button>
      -->
      <!--
      <button mat-flat-button class="menu-button custom-button" routerLink="/requestforbid" (click)="sidenav.close()">
        <span class="menu-item">REQUEST FOR BID</span>
      </button>
      -->
      <button mat-flat-button class="menu-button custom-button" routerLink="/archive" (click)="sidenav.close()">
        <span class="menu-item">ARCHIVE</span>
      </button>

      <!--
      <button mat-flat-button class="menu-button custom-button" routerLink="/openbids" (click)="sidenav.close()">
        <span class="menu-item">OPEN BIDS</span>
      </button>
      -->

      <!-- <button mat-flat-button class="menu-button custom-button" routerLink="/bids" (click)="sidenav.close()">
        <span class="menu-item">BIDS</span>
      </button>
      -->

      <button mat-flat-button class="menu-button custom-button" routerLink="/notifications" (click)="sidenav.close()">
        <span class="menu-item">NOTIFICATIONS</span>
      </button>

      <!-- Services Toggle Button -->
      <button mat-flat-button class="menu-button custom-button" (click)="isServicesExpanded = !isServicesExpanded">
        <span class="menu-item">SERVICES</span>
        <mat-icon class="expand-icon">{{ isServicesExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      </button>

      <!-- Submenu Items -->
      <div *ngIf="isServicesExpanded" class="submenu">
        <!-- Terms of Use -->
        <ng-container *ngIf="loggedIn; else externalTerms">
          <button mat-flat-button class="submenu custom-button" routerLink="/termsofuse" (click)="sidenav.close()">
            <span class="menu-item">Terms of Use</span>
          </button>
        </ng-container>
        <ng-template #externalTerms>
          <a mat-flat-button class="submenu custom-button" href="/termsofuse" target="_blank" rel="noopener">
            <span class="menu-item">Terms of Use</span>
          </a>
        </ng-template>

        <!-- Privacy Policy -->
        <ng-container *ngIf="loggedIn; else externalPrivacy">
          <button mat-flat-button class="submenu custom-button" routerLink="/privacy" (click)="sidenav.close()">
            <span class="menu-item">Privacy Policy</span>
          </button>
        </ng-container>
        <ng-template #externalPrivacy>
          <a mat-flat-button class="submenu custom-button" href="/privacy" target="_blank" rel="noopener">
            <span class="menu-item">Privacy Policy</span>
          </a>
        </ng-template>

        <!-- Master Services -->
        <ng-container *ngIf="loggedIn; else externalMaster">
          <button mat-flat-button class="submenu custom-button" routerLink="/masteragreement" (click)="sidenav.close()">
            <span class="menu-item">Master Services</span>
          </button>
        </ng-container>
        <ng-template #externalMaster>
          <a mat-flat-button class="submenu custom-button" href="/masteragreement" target="_blank" rel="noopener">
            <span class="menu-item">Master Services</span>
          </a>
        </ng-template>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="showAlert" class="alert-overlay">
  <div class="alert-modal">
    <p>{{ alertMessage }}</p>
    <div class="form-row">
      <button class="no-btn" mat-raised-button (click)="cancelalert()">No</button>
      <button mat-raised-button (click)="closeAlert()">Yes</button>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" class="no-btn">
  <button mat-menu-item routerLink="/profile">
    <mat-icon svgIcon="profile-circle"></mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon svgIcon="logout"></mat-icon>
    Logout
  </button>
</mat-menu>

<mat-menu #notificationMenu="matMenu">
  <ng-container *ngIf="(recentNotifications$ | async) as notifications">
    <ng-container *ngIf="notifications && notifications.length > 0; else noNotifications">
      <ng-container *ngFor="let notification of notifications | slice:0:5">
        <button mat-menu-item (click)="navigateToJob(notification)">
          <span>{{ notification.senderFullName }} - {{ notification.projectName }}: {{ notification.message }}</span>
        </button>
      </ng-container>
    </ng-container>
    <ng-template #noNotifications>
      <button mat-menu-item>
        <span>No recent notifications</span>
      </button>
    </ng-template>
  </ng-container>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/notifications">
    Show all notifications
  </button>
</mat-menu>
