<div *ngIf="isLoading" class="loading-container">
  <app-loader aria-label="Loading content"></app-loader>
</div>

<!-- Header -->
<mat-toolbar color="primary" class="header">
  <button *ngIf="shouldShowSidenav()" mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle navigation menu">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/dashboard" class="logo-link">
    <img ngSrc="assets/logo.png" alt="Company Logo" height="50" width="150">
  </a>
  <span class="spacer"></span>
  <button *ngIf="shouldShowLogoutButton()" mat-icon-button aria-label="Logout" [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="icons8-settings"></mat-icon>
  </button>
</mat-toolbar>

<!-- Side Navigation and Content -->
<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav mode="push" [opened]="isSidenavOpen" class="sidenav" role="navigation" >
    <mat-nav-list>
      <button mat-flat-button class="menu-button custom-button" routerLink="/dashboard" (click)="sidenav.close()">
        <span class="menu-item">HOME</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/projects" (click)="sidenav.close()">
        <span class="menu-item">PROJECTS</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/job-quote" (click)="sidenav.close()">
        <span class="menu-item">JOBS</span>
      </button>
      
      <button mat-flat-button class="menu-button custom-button" routerLink="/job-assignment" (click)="sidenav.close()">
        <span class="menu-item">JOB ASSIGNMENT</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/calendar" (click)="sidenav.close()">
        <span class="menu-item">CALENDAR</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/quote" (click)="sidenav.close()">
        <span class="menu-item">QUOTE</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/dashboard/notifications" (click)="sidenav.close()">
        <span class="menu-item">UPDATES</span>
      </button>

      <button mat-flat-button class="menu-button custom-button" routerLink="/open-work" (click)="sidenav.close()">
        <span class="menu-item">OPEN WORK</span>
      </button>

      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="showAlert" class="alert-overlay">
  <div class="alert-modal">
    <p>{{ alertMessage }}</p>
    <div class="form-row">
      <button class="no-btn" mat-raised-button (click)="cancelalert()">No</button>
      <button mat-raised-button (click)="closeAlert()">Yes</button>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" class="no-btn">
  <button mat-menu-item routerLink="/profile">
    <mat-icon svgIcon="profile-circle"></mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon svgIcon="logout"></mat-icon>
    Logout
  </button>
</mat-menu>