<h2 mat-dialog-title>Submit a Bid</h2>
<mat-dialog-content>
  <p>How would you like to submit your bid?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="dialog-actions">
    <button mat-button class="cancel-btn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button class="create-btn" [mat-dialog-close]="'create'">Create Quote with Probuild</button>
    <button mat-raised-button class="upload-btn" [mat-dialog-close]="'upload'">Upload PDF Quote</button>
  </div>
</mat-dialog-actions>
