$primary-yellow: #fbd008;
$secondary-yellow: #fcd02d;
$darker-yellow: #e6bf00;
$dark-gray: #333;

:host {
  text-align: center;
}

.dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.mat-button, .mat-raised-button {
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  white-space: nowrap;
}

.cancel-btn {
  background-color: #E0E0E0;
  color: #333;

  &:hover {
    background-color: #BDBDBD;
  }
}

.create-btn, .upload-btn {
  color: $dark-gray;
  background-color: $primary-yellow;

  &:hover {
    background-color: $darker-yellow;
  }
}
