<div class="container">
  <app-loader *ngIf="isLoading"></app-loader>


  <mat-card class="profile-card">
    <mat-card-title>Job Assignments</mat-card-title>
    <mat-divider></mat-divider>

    <!-- Form Section -->
    <div class="section">
      <h3>Assign Job</h3>
      <form class="form-row" (ngSubmit)="submitAssignment()">
        <mat-form-field class="job-selection">
          <mat-label>Select Job</mat-label>
          <input type="text"
                 placeholder="Search for a job"
                 aria-label="Select Job"
                 matInput
                 [formControl]="jobControl"
                 [matAutocomplete]="autoJob">
          <mat-autocomplete #autoJob="matAutocomplete" [displayWith]="displayJob" (optionSelected)="onJobSelectionChange($event.option.value)">
            <mat-option *ngIf="!(filteredJobs | async)?.length" disabled>
              No jobs found
            </mat-option>
            <mat-option *ngFor="let job of filteredJobs | async" [value]="job">
              {{ job.projectName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="job-selection">
          <mat-label>Select User</mat-label>
          <input type="text"
                 placeholder="Search for a user"
                 aria-label="Select User"
                 matInput
                 [formControl]="userControl"
                 [matAutocomplete]="autoUser">
          <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayUser" (optionSelected)="onUserSelected($event.option.value)">
            <mat-option *ngIf="!(filteredUsers | async)?.length" disabled>
              No users found
            </mat-option>
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
              {{ user.firstName }} {{ user.lastName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="job-role-field"
                        [class.filled]="newAssignment.jobRole"
                        [matTooltip]="!newAssignment.jobRole ? 'This will be automatically filled in when a user is selected' : ''">
          <mat-label>Job Role</mat-label>
          <input matInput [(ngModel)]="newAssignment.jobRole" name="jobRole" readonly>
        </mat-form-field>
      </form>

      <div class="button-container">
        <button mat-button class="submit-btn" *ngIf="authService.hasPermission('AddTeamMembers')" (click)="submitAssignment()" [disabled]="isSaving || !selectedJob || !selectedUser || !newAssignment.jobRole">
          {{ isSaving ? 'Saving...' : 'Assign' }}
        </button>
      </div>
    </div>

    <!-- Table Section -->
    <div class="section table-container">
      <h3>Assignment List</h3>
      <table mat-table [dataSource]="filteredJobAssignment" class="themed-table">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let element">
            {{ element.job.id || 'N/A' }}
          </td>
        </ng-container>

        <!-- Project Name Column -->
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.job.projectName || 'N/A' }}
          </td>
        </ng-container>

        <!-- Assigned User Column -->
        <ng-container matColumnDef="assignedUser">
          <th mat-header-cell *matHeaderCellDef>Assigned User</th>
          <td mat-cell *matCellDef="let element">
            {{ element.user.firstName || '' }} {{ element.user.lastName || 'N/A' }}
          </td>
        </ng-container>

        <!-- Job Role Column -->
        <ng-container matColumnDef="jobRole">
          <th mat-header-cell *matHeaderCellDef>Job Role</th>
          <td mat-cell *matCellDef="let element">
            {{ element.user.jobRole | roleDisplay }}
          </td>
        </ng-container>

        <!-- Phone Number Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let element">
            {{ element.user.phoneNumber || 'N/A' }}
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button class="submit-btn" color="accent"
                    *ngIf="authService.hasPermission('deleteTeamMembers')"
                    (click)="deleteUserAssignment(element.job, element.user)"
                    [disabled]="isLoading">
              Delete
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="assignmentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: assignmentColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>
