.step-container {
  padding: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #fbd008 !important;
}
