<div class="dialog-container">
  <div class="dialog-header">
    <h2 mat-dialog-title>Blueprints for {{ data.projectName }}</h2>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="dialog-content">
    <div *ngIf="isLoadingBlueprints" class="loading-overlay">
      <app-loader></app-loader>
      <p>Loading blueprints...</p>
    </div>

    <div *ngIf="!isLoadingBlueprints && blueprintFiles.length === 0" class="no-docs">
      <p>No blueprints found for this project.</p>
    </div>

    <app-project-blueprint-viewer
      *ngIf="blueprintFiles.length > 0"
      [mode]="'view'"
      [uploadedFiles]="blueprintFiles"
      [selectedFile]="selectedBlueprint"
      [pdfSrc]="blueprintPdfSrc"
      (fileSelected)="handleBlueprintSelected($event)"
    >
    </app-project-blueprint-viewer>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
