
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();

// Define the theme object.

$ProBuildAI-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));


:root {
  @include mat.all-component-themes($ProBuildAI-theme);


}

.orbitron-font {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
mat-mdc-card{
  background-color: white !important;
}
html, body { 
  height: 100%;
  overflow-x: hidden !important; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Force Material snack-bar to use yellow theme for .snack-success */
.mat-mdc-snack-bar-container.snack-success {
  background-color: #fbd008 !important; /* Yellow background */
  color: #333 !important;               /* Dark text */

  font-weight: 600;
}

.mat-mdc-snack-bar-container.snack-success .mat-simple-snackbar-action {
  color: #333 !important;               /* Close button text */
  font-weight: 600;
}
