<div class="main-container">
  <div class="right-card">
    <div class="details-card">
      <mat-card>
        <mat-card-header> Projects </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <h3>Active Projects</h3>
          <mat-divider></mat-divider>
          <h3>Completed Projects</h3>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="details-card">
      <mat-card>
        <mat-card-header> Bids </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <h3>Active Bids</h3>
          <mat-divider></mat-divider>
          <h3>Closed Bids</h3>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="left-card">
    <div class="completion-rate-pie">
      <!--
        <h3> Overall Completion Rate </h3>
          <app-pie-chart-component [completionRate] > </app-pir-chart-component>
      -->

    </div>
    <div class="navigation-buttons">
      <div class="app-nav-buttons">
        <button mat-raised-button>Create New Quotation</button>
        <button mat-raised-button>View Available Contractors</button>
        <button mat-raised-button>View Available Suppliers</button>
      </div>
      <div class="help-nav-buttons">
        <button mat-raised-button>Contact Helpdesk</button>
        <button mat-raised-button>Visit Main Website</button>
        <button mat-raised-button> Help and FAQ</button>
      </div>
    </div>

  </div>
</div>
